* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100% !important;
}

.row {
  --bs-gutter-x: 0rem;
  height: 100vh;
}

.col {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: auto;
}

.background {
  background-image: url("../Images/background.png");
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  background-color: #151f28;
  max-width: 500px;
  margin: auto;
  padding: 40px;
}

.formLayout {
  margin: 20px;
  color: #BABABA;
}

.formLayout form .labelName {
  text-align: left;
  font-size: 12px;
}

.formLayout form input {
  background-color: black;
}

.formLayout form button{
  width: 100%;
  padding: 10px 4px;
  border-radius: 10px;

background-color: #990011ff;
border: none;
color: #fcf6f5ff;
}

.form-control::placeholder {
  color: whitesmoke !important; /* Use !important to ensure it overrides other styles */
}

.form-control{
  color: whitesmoke !important;
}

.form-control:focus {
  box-shadow: none;
  background-color: black; /* Set the background color to transparent */
  border-color: #ced4da; /* Set the border color to match your design */
}


.form-label {
  margin: 0.5rem 0.3rem;
}

.logo {
  color: #fcf6f5ff;
}

.logo img {
  width: 70px;
}

.formError{
  color: #E94057;
}